@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="alperseguros-bot" class="botui-app-container">
    <div class="botui botui-container">
        <div class="botui-messages-container">
            <div class="botui-message">
                <div>
                    <div class="botui-message-content text">
                        <span>Olá, ciclista! Sou o agente virtual da Alper e irei te ajudar a contratar um seguro para sua bike.</span>
                    </div>
                </div>
            </div>
            <div class="botui-message">
                <div class="">
                    <div class="botui-message-content text">
                        <span>Para isso eu vou precisar de algumas informações. Blz?</span>
                    </div>
                </div>
            </div>
            <div class="botui-message">
                <div class="">
                    <div class="botui-message-content text">
                        <span>Vamos lá..</span>
                    </div>
                </div>
            </div>
            <div class="botui-message">
                <div class="">
                    <div class="botui-message-content text">
                        <span>É uma Bike Nova?</span>
                    </div>
                </div>
            </div>
        </div><div class="botui-actions-container">
            <div class="">
                <div class="botui-actions-buttons">
                    <button type="button" class="botui-actions-buttons-button">
                        Sim
                    </button><button type="button" class="botui-actions-buttons-button">
                        Não
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/Scripts/xhr-request.js"></script><script src="/Scripts/vue.min.js"></script>
<script src="/Scripts/botui.js"></script>
<script src="/Scripts/alperseguros-bot.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/ea731dcb6f.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-select@2.4.0/dist/vue-select.js"></script>
